form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.warn-button {
    background-color: #15a2b8;
    margin-right: 10px;
}

.event-section {
    display: grid;
    place-items: center;
}