<section class="events-section">
    <h2>Events</h2>

    <section class="events-list-section">
        <div *ngIf="error">
            <h3>Could not connect to server.</h3>
        </div>
        <div *ngIf="events?.length === 0">No events found.</div>
        <div *ngFor="let event of events; let last = last ">
         <app-card [last]="last" [eventInfo]="event"></app-card>
        </div> 
     </section>
</section>

<!-- 
    <p>Async Pipe Implementation</p>
    <section class="events-list-section">
       <div *ngFor="let event of event$ | async; let last = last ">
        <app-card [last]="last" [eventInfo]="event"></app-card>
       </div> 
    </section>
-->

<!--
    <p>Problem events is not an array</p>
    <ng-container *ngIf="event$ | async as events">
        <div *ngFor="let event of events; let last = last">
          <app-card [last]="last" [eventInfo]="event"></app-card>
        </div>
    </ng-container>
-->

<!--
<p>Mock Data Implementation</p>
<section class="events-section">
    <h2>Events</h2>
    <section class="events-list-section">
       <div *ngFor="let event of events">
        <app-card [eventInfo]="event"></app-card>
       </div> 
    </section>
</section>
-->
